
MTK_API/Debug/vc142.pdb
MTK_API/Debug/vc142.idb
MTK_API/Debug/textures.obj
*.obj
*.tlog
*.exe
*.ilk
*.pdb
*.db-shm
*.db-wal
*.db
*.exe
*.log
*.recipe
*.db
.vs/MTK_API/v16/.suo
MTK_API/Debug/MTK_API.vcxproj.FileListAbsolute.txt
.vs/MTK_API/v16/Browse.VC.opendb
.vs/MTK_API/v16/ipch/AutoPCH/a7adcde5d9b548a7/RENDERANDEVENTS.ipch
